Make extensions optional or required

According to [RFC7643 §6](https://datatracker.ietf.org/doc/html/rfc7643#section-6), ResourceTypes can define required and optional extensions.

This information should be used in the validation process.

This raises challenge though, as for the moment there is no direct relationship between Resources and ResourceTypes.

Related to #77

Actually `ResourceType`s can be used at another place : to build reference uris and maybe allow things like `group.members = [user1, user2]` where it would be used to resolve the reference url, or `group.members[0].first_name` where it could be used client side to resolve a reference. I am not that sure about the second point though.