Handle objects without schemas

[RFC7644 §3.4.3](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.3) detail partial responses (with the use of `attributes`/`excludedAttributes`) that do not contain a schemas.

```json
   {
     "schemas": ["urn:ietf:params:scim:api:messages:2.0:ListResponse"],
     "totalResults":100,
     "itemsPerPage":10,
     "startIndex":1,
     "Resources":[
       {
         "id":"2819c223-7f76-413861904646",
         "userName":"jsmith",
         "displayName":"Smith, James"
       },
       {
         "id":"c8596b90-7539-4f20968d1908",
         "displayName":"Smith Family"
       }
     ]
   }
```

We should make sure those objects are treated as generic `Resource` where the `id` field can be read, so client applications can make new requests for having details if needed.

The errata is *Held for Document Update* since  2025-10-28 