After giving some thoughts I can think of several places where filters are involved:
- GET requests on resources endpoints, in a `filter` query parameter.
- POST requests on `/.search`, in the `filter` parameter of `SearchRequest`
- PATCH requests on resources, in the `path` parameter of `PatchOperation`

GET & POST requests involves performing requests on all the objects of the server, where PATCH requests are limited to one single object. I guess for PATCH requests it would be easy to browse all items and select those which are matching the filters, but for performance reasons it cannot be done for GET & POST requests. I guess this is why [scim2-filter-parser](https://github.com/15five/scim2-filter-parser) is useful.

@ccoors you mention this issue in the following LOC. Do you have any advice on using scim2-filter-parser as a dependency of scim2-models for filter management?

https://github.com/python-scim/scim2-server/blob/916b3bb30e70ccdf3ad30bd2c355b2d8dc49980e/scim2_server/filter.py#L20-L23

What are the limitations of your implementation? What could help if implemented here?

As a reminder RFC7644 section 5 says:

> [5](https://www.rfc-editor.org/info/rfc7644/#section-5).  Preparation and Comparison of Internationalized Strings
>
>   To increase the likelihood that the input and comparison of usernames
   and passwords will work in ways that make sense for typical users
   throughout the world, there are rules for preparing, enforcing, and
   comparing internationalized strings that represent usernames and
   passwords.  Before comparing or evaluating the uniqueness of a
   "userName" or "password" attribute, service providers MUST use the
   preparation, enforcement, and comparison of internationalized strings
   (PRECIS) preparation and comparison rules described in Sections [3](https://www.rfc-editor.org/info/rfc7644/#section-3) and
   4, respectively, of [[RFC7613](https://www.rfc-editor.org/info/rfc7613/)], which is based on the PRECIS framework
   specification [[RFC7564](https://www.rfc-editor.org/info/rfc7564/)].  See [Section 3.4 of [RFC7613]](https://www.rfc-editor.org/info/rfc7613/#section-3.4) for discussion
   on "Case Mapping vs. Case Preparation" regarding "userName"
   attributes.

This should have impact on how the filter system compares strings.