Group displayName should be Required

[RFC7643 section 4.2](https://datatracker.ietf.org/doc/html/rfc7643#section-4.2)

As stated here the attribute displayName of a Group should be required

Why in 

scim2_models/resources/group.py

there's no required annotation for that?


Hi. Nice catch, indeed the spec says contradictory things, because in the Group schema json example there is 

```json
      {
        "name" : "displayName",
        "type" : "string",
        "multiValued" : false,
        "description" : "A human-readable name for the Group.
REQUIRED.",
        "required" : false,
        "caseExact" : false,
        "mutability" : "readWrite",
        "returned" : "default",
        "uniqueness" : "none"
      },
```

But [there is an errata for this](https://www.rfc-editor.org/errata/eid5368).